

body{
	background: #dfdfdb;
	width: 100%;
	margin: 0;
	padding: 0;
	
}
nav{
	text-align: center;
} 
ul{
	border-bottom: 1px solid #cccccc;
	
}
ul li{
	width: 125px;
	text-align: center;
	display: inline-block;
	margin: 2% auto 0 auto;
	padding-bottom: .75%;
	
}
a {
	text-decoration: none;
	color: #666666;
}
h1{
	text-align: center;
	padding-bottom: 0px;
	margin: 6% auto 0px auto;
}

.images {
	display: flex;
	flex-flow: row;
	justify-content: center;
	
}

figure{
	
	width: 25%;
	height:25%;
	margin: 2%;
	min-width: 200px;
	
}

figure img{

	width: 100%;
	padding: 0;
	margin: 0;

}


figcaption{
	width: 100%;
	height: auto;
	text-align: center;
	font-size: 12px;
}



